<div class="temp-index">

  <h1>Narrative</h1>

  <p>

    Hi Shopify friends! Welcome to the explorative mockup of Narrative, the first Shopify theme I'd like to build.

    <br><br>

    Hopefully a tad more exciting than flats, created just for you to share an exciting theme concept. Please keep in mind, this is a rough draft. I'd like to ask your thoughts on my idea prior to diving deep into development.

    <br><br>

    - Narrative offers a creative new way of showcasing products and content on Shopify, attracting a wider audience.

    <br><br>
    - Built using Timber as a foundation ( not this example, but the real deal )
    <br><br>
    - Focus on UX with clean, minimal, intuitive design and considered transitions and animations
    <br><br>
    - Performant css-only parallax scrolling on product pages.
    <br><br>
    A highly-adaptable story-telling aspect. May be adapted to provide more details about a product, convey a brand identity, showcase recent press, show lookbook images of an item, and so much more.
    <br><br>
    Every blog article that is tagged with the name of a product, will show on the cooresponding products page. There will be few select 'base style' product tempelates to choose from with a similar idea.
  </p>

  <a href="/products/rose-white-tea-gentle-glycolic-cleanser">Example One</a>
  <a>Example Two</a>
  <a>Example Three</a>


</div>

<style>

  .temp-index {

    background: #ebeef0;
    height: 90vh;
    margin: 5vh;
    overflow: scroll;

  }

  h1 {

    font-family: 'Obsidian A', 'Obsidian B';
    text-transform: lowercase;
    vertical-align: baseline;
    font-style: italic;
    font-weight: 400;
    font-size: 58px;
    margin: 0;

  }

  p {


    font-family: 'Gotham SSm A', 'Gotham SSm B';
    padding: 2.5%;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    margin: 0;

  }

  a {

    font-family: 'Obsidian A', 'Obsidian B';
    font-size: 18px;
    font-weight: 400;


  }

</style>
